
#define COMBO_TIMEOUT     25
#define COMBO_BIG_TIMEOUT 35
#define COMBO_PRIOR_IDLE  150

ZMK_COMBO(onehanded_mode, &to OH_DEFLT, LT3 LT2 LT1 LT0, ALL, COMBO_BIG_TIMEOUT, COMBO_PRIOR_IDLE)
ZMK_COMBO(gaming_mode,    &to GAMNG   , LT4 LT2 LT1 LT0, ALL, COMBO_BIG_TIMEOUT, COMBO_PRIOR_IDLE)
ZMK_COMBO(to_default,     &to DEFLT   , LT4 LT3 LT2 LT1, ALL, COMBO_BIG_TIMEOUT, COMBO_PRIOR_IDLE)


ZMK_COMBO(copy,  &kp LC(C), LB3 LB2, DEFLT LOWER RAISE, COMBO_TIMEOUT, COMBO_PRIOR_IDLE)
ZMK_COMBO(cut,   &kp LC(X), LB3 LF2, DEFLT LOWER RAISE, COMBO_TIMEOUT, COMBO_PRIOR_IDLE)
ZMK_COMBO(paste, &kp LC(V), LB3 LB1, DEFLT LOWER RAISE, COMBO_TIMEOUT, COMBO_PRIOR_IDLE)
