
#define HRM_TAPPING_TERM 280
#define HRM_QUICK_TAP QUICK_TAP_MS
#define HRM_PRIOR_IDLE 150


// https://github.com/urob/zmk-config#timeless-homerow-mods
ZMK_HOLD_TAP(hml,
    bindings = <&kp>, <&kp>;
    flavor = "balanced";
    tapping-term-ms = <HRM_TAPPING_TERM>;
    require-prior-idle-ms = <HRM_PRIOR_IDLE>;
    quick-tap-ms = <HRM_QUICK_TAP>;
    global-quick-tap;
    hold-trigger-key-positions = <KEYS_R KEYS_T>;
    hold-trigger-on-release;
)
ZMK_HOLD_TAP(hmr,
    bindings = <&kp>, <&kp>;
    flavor = "balanced";
    tapping-term-ms = <HRM_TAPPING_TERM>;
    require-prior-idle-ms = <HRM_PRIOR_IDLE>;
    quick-tap-ms = <HRM_QUICK_TAP>;
    global-quick-tap;
    hold-trigger-key-positions = <KEYS_L KEYS_T>;
    hold-trigger-on-release;
)

#define ZMK_BEHAVIOR_CORE_hold_tap1   compatible = "zmk,behavior-hold-tap"; #binding-cells = <1>
#define ZMK_HOLD_TAP1(name, ...)      ZMK_BEHAVIOR(name, hold_tap1, __VA_ARGS__)

ZMK_HOLD_TAP1(hmr_lpar,
    bindings = <&kp>, <&mh_lpar>;
    flavor = "balanced";
    tapping-term-ms = <HRM_TAPPING_TERM>;
    require-prior-idle-ms = <HRM_PRIOR_IDLE>;
    quick-tap-ms = <HRM_QUICK_TAP>;
    global-quick-tap;
    hold-trigger-key-positions = <KEYS_L KEYS_T>;
    hold-trigger-on-release;
)
ZMK_HOLD_TAP1(hmr_rpar,
    bindings = <&kp>, <&mh_rpar>;
    flavor = "balanced";
    tapping-term-ms = <HRM_TAPPING_TERM>;
    require-prior-idle-ms = <HRM_PRIOR_IDLE>;
    quick-tap-ms = <HRM_QUICK_TAP>;
    global-quick-tap;
    hold-trigger-key-positions = <KEYS_L KEYS_T>;
    hold-trigger-on-release;
)


ZMK_HOLD_TAP(ohkp,
    bindings = <&kp>, <&kp>;
    flavor = "tap-preferred";
    tapping-term-ms = <175>;
    quick-tap-ms = <0>;
)

ZMK_HOLD_TAP(ohkp_excl,
  bindings = <&none>, <&kp>;
  flavor = "tap-preferred";
  tapping-term-ms = <2000>;
  quick-tap-ms = <0>;
)


ZMK_HOLD_TAP(lt_lgui,
    bindings = <&mo>, <&td_lgui>;
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <QUICK_TAP_MS>;
)
