
#define HRM_TAPPING_TERM 280
#define HRM_QUICK_TAP 175
#define HRM_PRIOR_IDLE 150


// https://github.com/urob/zmk-config#timeless-homerow-mods
ZMK_HOLD_TAP(hml,
  bindings = <&kp>, <&kp>;
  flavor = "balanced";
  tapping-term-ms = <HRM_TAPPING_TERM>;
  require-prior-idle-ms = <HRM_PRIOR_IDLE>;
  quick-tap-ms = <HRM_QUICK_TAP>;
  global-quick-tap;
  hold-trigger-key-positions = <KEYS_R KEYS_T>;
  hold-trigger-on-release;
)
ZMK_HOLD_TAP(hmr,
  bindings = <&kp>, <&kp>;
  flavor = "balanced";
  tapping-term-ms = <HRM_TAPPING_TERM>;
  require-prior-idle-ms = <HRM_PRIOR_IDLE>;
  quick_tap_ms = <HRM_QUICK_TAP>;
  global-quick-tap;
  hold-trigger-key-positions = <KEYS_L KEYS_T>;
  hold-trigger-on-release;
)
