
#define HRM_TAPPING_TERM 280
#define HRM_QUICK_TAP 175
#define HRM_PRIOR_IDLE 150

/ {

  behaviors {

    // Positional Homerow mods
    // Homerow mods that prevent accidental activations when rolling keys,
    // such as when typing `st` or `ne` on colemak-dh layouts or `as` on
    // qwerty.
    //
    // Works by only allowing a mod to activate within tapping-term if
    // it's on the opposite side of the keyboard or on the same side thumb
    // keys.

    // Further optimization using urob's timerless homerow mods method:
    // https://github.com/urob/zmk-config#timeless-homerow-mods
    // also was added to main zmk https://zmk.dev/docs/keymaps/behaviors/hold-tap?examples=home_row_mods
    hml: home_row_mod_left {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      bindings = <&kp>, <&kp>;

      flavor = "balanced";
      tapping-term-ms = <HRM_TAPPING_TERM>;
      require-prior-idle-ms = <HRM_PRIOR_IDLE>;
      quick-tap-ms = <HRM_QUICK_TAP>;
      global-quick-tap;
      hold-trigger-key-positions = <KEYS_R KEYS_T>;
      hold-trigger-on-release;
    };

    hmr: home_row_mod_right {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      bindings = <&kp>, <&kp>;

      flavor = "balanced";
      tapping-term-ms = <HRM_TAPPING_TERM>;
      require-prior-idle-ms = <HRM_PRIOR_IDLE>;
      quick_tap_ms = <HRM_QUICK_TAP>;
      global-quick-tap;
      hold-trigger-key-positions = <KEYS_L KEYS_T>;
      hold-trigger-on-release;
    };


    /*
     * Non-Positional Homerow Mods
     * Used for &mm_grescm_gui behavior on left hand.
     *
     * Usage: &hm LSHFT T
     * Tap: T
     * Tap-Tap-Hold: Repeat T
     * Hold: LSHIFT
     */
    tm: thumb_mods {
      compatible = "zmk,behavior-hold-tap";
      label = "THUMB_MODS";
      #binding-cells = <2>;
      bindings = <&kp>, <&kp>;
      
      flavor = "balanced";
      tapping-term-ms = <200>;
      quick_tap_ms = <175>;
      retro-tap; // use tap when key is used without another key
    };

  };
};
