

ZMK_MOD_MORPH(lpar_bkt,
    bindings = <&kp LPAR>, <&kp LBKT>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)
ZMK_MOD_MORPH(rpar_bkt,
  bindings = <&kp RPAR>, <&kp RBKT>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
)
ZMK_MOD_MORPH(lbrc_lt,
  bindings = <&kp LBRC>, <&kp LT>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
)
ZMK_MOD_MORPH(rbrc_gt,
  bindings = <&kp RBRC>, <&kp GT>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
)
