

ZMK_MOD_MORPH(lpar_morph,
    bindings = <&kp LPAR>, <&kp LBKT>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)
ZMK_MOD_MORPH(rpar_morph,
  bindings = <&kp RPAR>, <&kp RBKT>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
)
ZMK_MOD_MORPH(lbrc_morph,
  bindings = <&kp LBRC>, <&kp LT>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
)
ZMK_MOD_MORPH(rbrc_morph,
  bindings = <&kp RBRC>, <&kp GT>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
)
ZMK_MOD_MORPH(excl_morph,
  bindings = <&kp EXCL>, <&kp QMARK>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
)
ZMK_MOD_MORPH(at_morph,
  bindings = <&kp AT>, <&kp AMPS>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
)
ZMK_MOD_MORPH(equal_morph,
  bindings = <&kp EQUAL>, <&kp CARET>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
)
ZMK_MOD_MORPH(slash_morph,
  bindings = <&kp SLASH>, <&kp BSLH>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
)
ZMK_MOD_MORPH(minus_morph,
  bindings = <&kp MINUS>, <&kp PLUS>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
)
ZMK_MOD_MORPH(hash_morph,
  bindings = <&kp HASH>, <&kp PRCNT>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
)
ZMK_MOD_MORPH(dollar_morph,
  bindings = <&kp DOLLAR>, <&kp PIPE>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
)
ZMK_MOD_MORPH(grave_morph,
  bindings = <&kp GRAVE>, <&kp TILDE>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
)
ZMK_MOD_MORPH(lalt_morph,
  bindings = <&kp LALT>, <&kp RALT>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
)

ZMK_MOD_MORPH(ohspace_mh,
  bindings = <&ohkp SPACE ENTER>, <&kp BSPC>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
)
ZMK_MOD_MORPH(ohn1_mh,
  bindings = <&ohkp N1 N6>, <&kp N6>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
)
ZMK_MOD_MORPH(ohn2_mh,
  bindings = <&ohkp N2 N7>, <&kp N7>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
)
ZMK_MOD_MORPH(ohn3_mh,
  bindings = <&ohkp N3 N8>, <&kp N8>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
)
ZMK_MOD_MORPH(ohn4_mh,
  bindings = <&ohkp N4 N9>, <&kp N9>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
)
ZMK_MOD_MORPH(ohn5_mh,
  bindings = <&ohkp N5 N0>, <&kp N0>;
  mods = <(MOD_LSFT|MOD_RSFT)>;
)
