/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
// Lookup:
// https://github.com/urob/zmk-config
// https://github.com/folke/zmk-config

#include <behaviors.dtsi>
#include <behaviors/num_word.dtsi> // Requires auto-layer module.
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 750 /*default: 600*/
#define ZMK_POINTING_DEFAULT_SCRL_VAL 17  /*default: 10*/
#include <dt-bindings/zmk/pointing.h>


#include "keys/58.h"
#include "keys/keys_base.h"
#include "keys/keys_ru.h"

//https://github.com/urob/zmk-helpers
#include "zmk-helpers/helper.h"


#define DEFLT 0
#define LOWER 1
#define NUM   2
#define RAISE 3
#define FUNC  4
#define META  5
#define GAMNG 6
#define OH_DEFLT 7
#define OH_LOWER 8
#define OH_NUM   9
#define OH_NAV   10


#include "include/settings.dtsi"
#include "include/mods.dtsi"
#include "include/morphs.dtsi"
//#include "include/ru_morphs.dtsi"
#include "include/auto_layers.dtsi"
#include "include/other.dtsi"
#include "include/combos.dtsi"
#include "include/dance.dtsi"
//#include "include/macros.dtsi"

#define SMART_NUM &smart_num NUM 0
#define LWR_SN    &smart_num LOWER 0
#define OH_SMART_NUM &oh_smart_num OH_NUM 0
#define OH_LWR_SN    &oh_smart_num OH_LOWER 0


/{
   combos { compatible = "zmk,combos"; };

   keymap {
      compatible = "zmk,keymap";

      default_layer {
         bindings = <
//╭------------┬------------┬------------┬------------┬------------┬------------┬----------╮ ╭----------┬------------┬------------┬------------┬------------┬------------┬------------╮
   &kp ESC      &kp N1       &kp N2       &kp N3       &kp N4       &kp N5                               &kp N6       &kp N7       &kp N8       &kp N9       &kp N0       &kp EQUAL
//├------------┼------------┼------------┼------------┼------------┼------------┤          | |          ├------------┼------------┼------------┼------------┼------------┼------------┤
   &kp TAB      &kp Q        &kp W        &kp E        &kp R        &kp T                                &kp Y        &kp U        &kp I        &kp O        &kp P        &kp MINUS
//├------------┼------------┼------------┼------------┼------------┼------------┤          | |          ├------------┼------------┼------------┼------------┼------------┼------------┤
   &kp LSHIFT   &kp A        &hml LALT S  &hml LCTRL D &hml LSHIFT F &kp G                               &kp H        &hmr RSHIFT J &hmr LCTRL K &hmr RALT L &kp SEMI     &kp RSHIFT
//├------------┼------------┼------------┼------------┼------------┼------------┼----------┤ ├----------┼------------┼------------┼------------┼------------┼------------┼------------┤
   &kp LCTRL    &kp Z        &kp X        &kp C        &kp V        &kp B        &kp LBKT     &kp RBKT   &kp N        &kp M        &kp COMMA    &kp DOT      &kp FSLH     &kp SQT
//╰------------┴------------┴------------┼------------┼------------┼------------┼----------┤ ├----------┼------------┼------------┼------------┼------------┴------------┴------------╯
                                          &kp LALT     &lt FUNC LGUI  LWR_SN     &kp SPACE    &kp RET    &mo RAISE    &kp BSPC     &mt RALT TAB
//                                       ╰------------┴------------┴------------┴----------╯ ╰----------┴------------┴------------┴------------╯
         >;
      };

      lower_layer {
         bindings = <
//╭------------┬------------┬------------┬------------┬------------┬------------┬----------╮ ╭----------┬------------┬------------┬------------┬------------┬------------┬------------╮
   &trans       &kp F1       &kp F2       &kp F3       &kp F4       &kp F5                               &kp F6       &kp F7       &kp F8       &kp F9       &kp F10      &kp GRAVE
//├------------┼------------┼------------┼------------┼------------┼------------┤          | |          ├------------┼------------┼------------┼------------┼------------┼------------┤
   &trans       &kp BSLH     &kp N4       &kp N5       &kp N6       &kp DEL                              &excl_morph  &kp SQT      &kp ASTRK    &kp MINUS    &kp PRCNT    &kp PIPE
//├------------┼------------┼------------┼------------┼------------┼------------┤          | |          ├------------┼------------┼------------┼------------┼------------┼------------┤
   &trans       &kp N0       &hml RALT N1 &hml LCTRL N2 &hml LSHIFT N3 &kp LBKT                          &at_morph    &lpar_morph  &rpar_morph  &kp UNDER    &kp HASH     &kp TILDE
//├------------┼------------┼------------┼------------┼------------┼------------┼----------┤ ├----------┼------------┼------------┼------------┼------------┼------------┼------------┤
   &trans       &kp SLASH    &kp N7       &kp N8       &kp N9       &kp RBKT     &trans       &trans     &equal_morph &lbrc_morph  &rbrc_morph  &kp PLUS     &slash_morph &kp DOLLAR
//╰------------┴------------┴------------┼------------┼------------┼------------┼----------┤ ├----------┼------------┼------------┼------------┼------------┴------------┴------------╯
                                          &trans       &trans       &trans       &trans       &trans     &trans       &trans       &trans
//                                       ╰------------┴------------┴------------┴----------╯ ╰----------┴------------┴------------┴------------╯
         >;
      };
      
      num_layer {
         bindings = <
//╭------------┬------------┬------------┬------------┬------------┬------------┬----------╮ ╭----------┬------------┬------------┬------------┬------------┬------------┬------------╮
   &trans       &trans       &trans       &trans       &trans       &trans                               &trans       &trans       &trans       &trans       &trans       &trans
//├------------┼------------┼------------┼------------┼------------┼------------┤          | |          ├------------┼------------┼------------┼------------┼------------┼------------┤
   &trans       &trans       &kp N4       &kp N5       &kp N6       &trans                               &trans       &trans       &trans       &trans       &trans       &trans
//├------------┼------------┼------------┼------------┼------------┼------------┤          | |          ├------------┼------------┼------------┼------------┼------------┼------------┤
   &trans       &kp N0       &hml RALT N1 &hml LCTRL N2 &hml LSHIFT N3 &trans                            &trans       &trans       &trans       &trans       &trans       &trans
//├------------┼------------┼------------┼------------┼------------┼------------┼----------┤ ├----------┼------------┼------------┼------------┼------------┼------------┼------------┤
   &trans       &trans       &kp N7       &kp N8       &kp N9       &trans       &trans       &trans     &trans       &trans       &trans       &trans       &trans       &trans
//╰------------┴------------┴------------┼------------┼------------┼------------┼----------┤ ├----------┼------------┼------------┼------------┼------------┴------------┴------------╯
                                          &trans       &trans       &trans       &trans       &trans     &trans       &trans       &trans
//                                       ╰------------┴------------┴------------┴----------╯ ╰----------┴------------┴------------┴------------╯
         >;
      };

      raise_layer {
         bindings = <
//╭------------┬------------┬------------┬------------┬------------┬------------┬----------╮ ╭----------┬------------┬------------┬------------┬------------┬------------┬------------╮
   &trans       &trans       &trans       &trans       &trans       &trans                               &kp SLCK     &kp INS      &kp KP_NLCK  &kp LG(LS(S)) &kp LG(PSCRN) &trans
//├------------┼------------┼------------┼------------┼------------┼------------┤          | |          ├------------┼------------┼------------┼------------┼------------┼------------┤
   &trans       &kp F1       &kp F2       &kp F3       &kp F4       &kp F5                               &kp PG_UP    &kp HOME     &kp UP       &kp END      &kp DEL      &trans
//├------------┼------------┼------------┼------------┼------------┼------------┤          | |          ├------------┼------------┼------------┼------------┼------------┼------------┤
   &trans       &kp F6       &hml RALT F7 &hml LCTRL F8 &hml LSHIFT F9 &kp F10                           &kp PG_DN    &kp LEFT     &kp DOWN     &kp RIGHT    &kp BSPC    &trans
//├------------┼------------┼------------┼------------┼------------┼------------┼----------┤ ├----------┼------------┼------------┼------------┼------------┼------------┼------------┤
   &trans       &trans       &kp LS(LC(T)) &kp TAB     &kp F11      &kp F12      &trans       &trans     &kp KP_PLUS  &kp MINUS    &kp EQUAL    &kp LBKT     &kp RBKT     &trans   
//╰------------┴------------┴------------┼------------┼------------┼------------┼----------┤ ├----------┼------------┼------------┼------------┼------------┴------------┴------------╯
                                          &trans       &trans       &trans       &trans       &trans     &trans       &trans       &trans
//                                       ╰------------┴------------┴------------┴----------╯ ╰----------┴------------┴------------┴------------╯
         >;
      };

      function_layer {
         bindings = <
//╭------------┬------------┬------------┬------------┬------------┬------------┬----------╮ ╭----------┬------------┬------------┬------------┬------------┬------------┬------------╮
   &trans       &trans       &trans       &trans       &trans       &trans                               &trans       &trans       &trans       &trans       &trans       &trans
//├------------┼------------┼------------┼------------┼------------┼------------┤          | |          ├------------┼------------┼------------┼------------┼------------┼------------┤
   &trans       &kp LG(LA(SPACE)) &kp LC(W) &kp LC(E)  &kp LC(R)    &kp LC(Y)                            &msc SCRL_UP &mkp LCLK    &mmv MOVE_UP &mkp RCLK    &kp LG(PSCRN) &trans
//├------------┼------------┼------------┼------------┼------------┼------------┤          | |          ├------------┼------------┼------------┼------------┼------------┼------------┤
   &trans       &kp LC(A)  &hml LALT LC(S) &hml LCTRL LC(D) &hml LSHIFT LC(F) &trans                     &msc SCRL_DOWN &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &trans &trans
//├------------┼------------┼------------┼------------┼------------┼------------┼----------┤ ├----------┼------------┼------------┼------------┼------------┼------------┼------------┤
   &trans       &kp LC(Z)    &kp LC(X)    &kp LC(C)    &kp LC(V)    &trans       &trans       &trans     &trans      &msc SCRL_LEFT &mkp MCLK &msc SCRL_RIGHT &tog FUNC   &trans   
//╰------------┴------------┴------------┼------------┼------------┼------------┼----------┤ ├----------┼------------┼------------┼------------┼------------┴------------┴------------╯
                                          &trans       &trans       &trans       &trans       &trans       &trans     &trans       &trans
//                                       ╰------------┴------------┴------------┴----------╯ ╰----------┴------------┴------------┴------------╯
         >;
      };

#define K_EP ext_power

      meta_layer {
         bindings = <
//╭------------┬------------┬------------┬------------┬------------┬------------┬----------╮ ╭----------┬------------┬------------┬------------┬------------┬------------┬------------╮
   &bt BT_CLR   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4                         &trans       &trans       &trans       &trans       &trans       &trans
//├------------┼------------┼------------┼------------┼------------┼------------┤          | |          ├------------┼------------┼------------┼------------┼------------┼------------┤
   &out OUT_BLE &out OUT_USB &trans       &kp C_VOL_UP &kp C_MUTE   &kp C_NEXT                           &trans       &kp LA(LSHFT) &trans      &trans       &trans       &trans
//├------------┼------------┼------------┼------------┼------------┼------------┤          | |          ├------------┼------------┼------------┼------------┼------------┼------------┤
   &trans       &trans       &trans       &kp C_VOL_DN &kp C_PLAY_PAUSE &kp C_PREV                       &trans       &kp CAPSLOCK &trans       &trans       &trans       &trans
//├------------┼------------┼------------┼------------┼------------┼------------┼----------┤ ├----------┼------------┼------------┼------------┼------------┼------------┼------------┤
   &trans       &K_EP EP_OFF &K_EP EP_ON  &K_EP EP_TOG &trans       &trans       &to DEFLT    &trans     &trans       &trans       &trans       &studio_unlock &trans     &trans
//╰------------┴------------┴------------┼------------┼------------┼------------┼----------┤ ├----------┼------------┼------------┼------------┼------------┴------------┴------------╯
                                          &trans       &trans       &trans       &trans       &trans     &trans       &trans       &trans
//                                       ╰------------┴------------┴------------┴----------╯ ╰----------┴------------┴------------┴------------╯
         >;
      };

      gaming_layer {
         bindings = <
////╭------------┬------------┬------------┬------------┬------------┬------------┬----------╮ ╭----------┬------------┬------------┬------------┬------------┬------------┬------------╮
//   &kp ESC      &kp N1       &kp N2       &kp N3       &kp N4       &kp N5                               &kp N6       &kp N7       &kp N8       &kp N9       &kp N0       &to 0
////├------------┼------------┼------------┼------------┼------------┼------------┤          | |          ├------------┼------------┼------------┼------------┼------------┼------------┤
//   &kp GRAVE    &kp TAB      &kp Q        &kp W        &kp E        &kp R                                &kp T        &kp Y        &kp U        &kp I        &kp O        &kp P
////├------------┼------------┼------------┼------------┼------------┼------------┤          | |          ├------------┼------------┼------------┼------------┼------------┼------------┤
//   &kp SEMI     &kp LSHFT    &kp A        &kp S        &kp D        &kp F                                &kp G        &kp H        &kp J        &kp K        &kp UP       &kp L
////├------------┼------------┼------------┼------------┼------------┼------------┼----------┤ ├----------┼------------┼------------┼------------┼------------┼------------┼------------┤
//   &kp FSLH     &kp LCTRL    &kp Z        &kp X        &kp C        &kp V        &kp LBKT     &kp RBKT   &kp B        &kp N        &kp M        &kp LEFT     &kp DOWN     &kp RIGHT
////╰------------┴------------┴------------┼------------┼------------┼------------┼----------┤ ├----------┼------------┼------------┼------------┼------------┴------------┴------------╯
//                                          &kp LALT     &kp SPACE    &trans       &kp SPACE    &kp RET    &trans       &kp BSPC     &mo 0
////                                       ╰------------┴------------┴------------┴----------╯ ╰----------┴------------┴------------┴------------╯

//╭------------┬------------┬------------┬------------┬------------┬------------┬----------╮ ╭----------┬------------┬------------┬------------┬------------┬------------┬------------╮
   &kp ESC      &kp N1       &kp N2       &kp N3       &kp N4       &kp N5                               &kp N6       &kp N7       &kp N8       &kp N9       &kp N0       &to DEFLT
//├------------┼------------┼------------┼------------┼------------┼------------┤          | |          ├------------┼------------┼------------┼------------┼------------┼------------┤
   &kp TAB      &kp Q        &kp W        &kp E        &kp R        &kp T                                &kp Y        &kp U        &kp I        &kp O        &kp P        &kp SEMI
//├------------┼------------┼------------┼------------┼------------┼------------┤          | |          ├------------┼------------┼------------┼------------┼------------┼------------┤
   &kp LSHIFT   &kp A        &kp S        &kp D        &kp F        &kp G                                &kp H        &kp J        &kp K        &kp L        &kp UP       &kp FSLH
//├------------┼------------┼------------┼------------┼------------┼------------┼----------┤ ├----------┼------------┼------------┼------------┼------------┼------------┼------------┤
   &kp LCTRL    &kp Z        &kp X        &kp C        &kp V        &kp B        &kp LBKT     &kp RBKT   &kp N        &kp M        &kp COMMA    &kp LEFT     &kp DOWN     &kp RIGHT
//╰------------┴------------┴------------┼------------┼------------┼------------┼----------┤ ├----------┼------------┼------------┼------------┼------------┴------------┴------------╯
                                          &kp LALT     &kp SPACE    &mo LOWER    &kp SPACE    &kp RET    &mo RAISE    &kp BSPC     &mt RALT SPACE
//                                       ╰------------┴------------┴------------┴----------╯ ╰----------┴------------┴------------┴------------╯
         >;
      };


      onehand_layer {
         bindings = <
//╭------------┬------------┬------------┬------------┬------------┬------------┬----------╮ ╭----------┬------------┬------------┬------------┬------------┬------------┬------------╮
   &trans       &trans       &trans       &trans       &trans       &trans                               &trans       &trans       &trans       &trans       &trans       &trans
//├------------┼------------┼------------┼------------┼------------┼------------┤          | |          ├------------┼------------┼------------┼------------┼------------┼------------┤
   &trans       &trans       &kp N4       &kp N5       &kp N6       &trans                               &trans       &trans       &trans       &trans       &trans       &trans
//├------------┼------------┼------------┼------------┼------------┼------------┤          | |          ├------------┼------------┼------------┼------------┼------------┼------------┤
   &trans       &kp N0       &hml RALT N1 &hml LCTRL N2 &hml LSHIFT N3 &trans                            &trans       &trans       &trans       &trans       &trans       &trans
//├------------┼------------┼------------┼------------┼------------┼------------┼----------┤ ├----------┼------------┼------------┼------------┼------------┼------------┼------------┤
   &trans       &trans       &kp N7       &kp N8       &kp N9       &trans       &trans       &trans     &trans       &trans       &trans       &trans       &trans       &trans
//╰------------┴------------┴------------┼------------┼------------┼------------┼----------┤ ├----------┼------------┼------------┼------------┼------------┴------------┴------------╯
                                          &trans       &trans       &trans       &trans       &trans     &trans       &trans       &trans
//                                       ╰------------┴------------┴------------┴----------╯ ╰----------┴------------┴------------┴------------╯
         >;
      };

//       onehand_lower_layer {
//          bindings = <
// //╭------------┬------------┬------------┬------------┬------------┬------------┬----------╮ ╭----------┬------------┬------------┬------------┬------------┬------------┬------------╮
//    &grave_morph &ohkp F1 F6  &ohkp F2 F7  &ohkp F3 F8  &oh_f4_td    &oh_f5_td                            &trans       &trans       &trans       &trans       &trans       &trans
// //├------------┼------------┼------------┼------------┼------------┼------------┤          | |          ├------------┼------------┼------------┼------------┼------------┼------------┤
//    &trans       &dollar_morph &minus_morph &kp ASTRK   &kp SQT      &excl_morph                          &trans       &trans       &trans       &trans       &trans       &trans
// //├------------┼------------┼------------┼------------┼------------┼------------┤          | |          ├------------┼------------┼------------┼------------┼------------┼------------┤
//    &trans       &hash_morph  &kp UNDER    &rpar_morph  &lpar_morph  &at_morph                            &trans       &trans       &trans       &trans       &trans       &trans
// //├------------┼------------┼------------┼------------┼------------┼------------┼----------┤ ├----------┼------------┼------------┼------------┼------------┼------------┼------------┤
//    &trans       &slash_morph &slash_morph &rbrc_morph  &lbrc_morph  &equal_morph &trans       &trans     &trans       &trans       &trans       &trans       &trans       &trans
// //╰------------┴------------┴------------┼------------┼------------┼------------┼----------┤ ├----------┼------------┼------------┼------------┼------------┴------------┴------------╯
//                                           &trans       &trans       &trans       &trans       &trans     &trans       &trans       &trans
// //                                       ╰------------┴------------┴------------┴----------╯ ╰----------┴------------┴------------┴------------╯
//          >;
//       };

//       onehand_num_layer {
//          bindings = <
// //╭------------┬------------┬------------┬------------┬------------┬------------┬----------╮ ╭----------┬------------┬------------┬------------┬------------┬------------┬------------╮
//    &trans       &trans       &trans       &trans       &trans       &trans                               &trans       &trans       &trans       &trans       &trans       &trans
// //├------------┼------------┼------------┼------------┼------------┼------------┤          | |          ├------------┼------------┼------------┼------------┼------------┼------------┤
//    &trans       &trans       &kp N4       &kp N5       &kp N6       &trans                               &trans       &trans       &trans       &trans       &trans       &trans
// //├------------┼------------┼------------┼------------┼------------┼------------┤          | |          ├------------┼------------┼------------┼------------┼------------┼------------┤
//    &trans       &kp N0       &kp N1       &kp N2       &kp N3       &trans                               &trans       &trans       &trans       &trans       &trans       &trans
// //├------------┼------------┼------------┼------------┼------------┼------------┼----------┤ ├----------┼------------┼------------┼------------┼------------┼------------┼------------┤
//    &trans       &trans       &kp N7       &kp N8       &kp N9       &trans       &trans       &trans     &trans       &trans       &trans       &trans       &trans       &trans
// //╰------------┴------------┴------------┼------------┼------------┼------------┼----------┤ ├----------┼------------┼------------┼------------┼------------┴------------┴------------╯
//                                           &trans       &trans       &trans       &trans       &trans     &trans       &trans       &trans
// //                                       ╰------------┴------------┴------------┴----------╯ ╰----------┴------------┴------------┴------------╯
//          >;
//       };

//       onehand_nav_layer {
//          bindings = <
// //╭------------┬------------┬------------┬------------┬------------┬------------┬----------╮ ╭----------┬------------┬------------┬------------┬------------┬------------┬------------╮
//    &trans       &lock_morph  &kp LG(PSCRN) &kp LG(LS(S)) &kp INS    &kp CAPSLOCK                         &trans       &trans       &trans       &trans       &trans       &trans
// //├------------┼------------┼------------┼------------┼------------┼------------┤          | |          ├------------┼------------┼------------┼------------┼------------┼------------┤
//    &trans       &kp LG(LA(SPACE)) &kp END &kp UP       &kp HOME     &kp PG_UP                            &trans       &trans       &trans       &trans       &trans       &trans
// //├------------┼------------┼------------┼------------┼------------┼------------┤          | |          ├------------┼------------┼------------┼------------┼------------┼------------┤
//    &trans       &kp LC(LSHIFT) &kp LEFT   &kp DOWN     &kp RIGHT    &kp PG_DN                            &trans       &trans       &trans       &trans       &trans       &trans
// //├------------┼------------┼------------┼------------┼------------┼------------┼----------┤ ├----------┼------------┼------------┼------------┼------------┼------------┼------------┤
//    &trans       &kp LALT     &trans       &kp DEL      &kp BSPC     &trans       &trans       &trans     &trans       &trans       &trans       &trans       &trans       &trans
// //╰------------┴------------┴------------┼------------┼------------┼------------┼----------┤ ├----------┼------------┼------------┼------------┼------------┴------------┴------------╯
//                                           &trans       &trans       &trans       &trans       &trans     &trans       &trans       &trans
// //                                       ╰------------┴------------┴------------┴----------╯ ╰----------┴------------┴------------┴------------╯
//          >;
//       };

   };


   conditional_layers {
      compatible = "zmk,conditional-layers";

      meta_layer_condition {
         if-layers = <LOWER RAISE>;
         then-layer = <META>;
      };

      // onehand_meta_layer_condition {
      //    if-layers = <OH_NAV OH_LOWER>;
      //    then-layer = <META>;
      // };
   };

   
};
